<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--<p th:text="|Kedves ${recipientName}'!'|"></p> -->
<p th:text="|Kedves Valaki'!'|"></p>
<p th:text="Az alábbi linken tudod aktiválni profilodat"></p>
<!--<p th:text="|link ${link}|"></p> -->
<p th:text="|link Alink|"></p>
<p th:text="Üdvözlettel'"></p>
<p>
    <em th:text="GF CH4"></em> <br />
    <img src="cid:attachment.png" />
</p>
</body>
</html>